*{box-sizing:border-box;}

.row { width:100%; }

.heading{ font-size: 175%;
text-align: center; }

.min{border: 3px solid black;
height:180px;
margin:10px;
padding:10px;
position:relative;
padding-top:45px;
display:inline-block;}

.style1{ background-color:lightblue; }

.style2{ background-color:yellow; }

.style3{ background-color:green; }

.title{border: 1px solid black;
	font-size:125%;
	background-color:grey;
	position:absolute;
	bottom:121px;
	right:0;
	padding:5px;
	margin-right:0;
}

.title1{background-color:#6495ED;}
.title2{background-color:#F0E68C;}
.title3{background-color:#7CFC00;}

@media(min-width: 992px){
	.desk{float: left;
	width:31.2%;}
}

@media(max-width: 991px){
	.tab1{float:left;
		width:47.3%;}
		.tab2{float:left;
		width:97%;}
}

@media(max-width: 767px){
	.mob{float:left;
		width:95%;}
}
