*{box-sizing:border-box;}

.row { width:100%; }

.heading{ font-size: 175%;
text-align: center; }

.title{ background-color: yellow;
border: 1px solid black;
float:right; 
top:0px;
right:0px;
width: 60px;
height:30px;}

.p1{ background-color: lightblue;
border: 3px solid black;
padding: 5px;
width: 90%;
margin-left: auto;
margin-right:auto;
height: 200px;}
.p2{ background-color: green;
border: 3px solid black;
padding: 5px;
width: 90%;
margin-left: auto;
margin-right:auto;
height: 200px; }

.p3{ background-color: grey;
border: 3px solid black;
padding: 5px;
width: 90%;
margin-left: auto;
margin-right:auto;
height: 200px;}

@media(min-width: 992px){
	.desk{float: left;
	width:33.33%;}
}

@media(max-width: 991px){
	.tab1{float:left;
		width:50%;}
		.tab2{float:left;
		width:100%;}

}

@media(max-width: 767px){
	.mob{float:left;
		width:100%;
		po}
}
